version: "3.8"

volumes:
  forage_data:

services:
  f_server_database:
    image: postgres:14.4-alpine
    restart: unless-stopped
    container_name: db.forage.com
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U serveradmin" ]
      interval: 5s
      retries: 3
    ports:
      - "5779:5432"
    volumes:
      - forage_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: forage_db
      POSTGRES_USER: serveradmin
      POSTGRES_PASSWORD: server123

  f_server_api:
    image: eclipse-temurin:17.0.3_7-jre-alpine
    restart: unless-stopped
    container_name: api.forage.com
    ports:
      - "6754:8080"
    entrypoint: [ "java","-jar","/root.jar" ]
    volumes:
      - ./build/libs/ams-full-0.0.1-SNAPSHOT.jar:/root.jar
      - /opt/resources/files:/opt/resources/files
#    env_file:
#      - spring.prod.env

